---
import Logo from "./Logo.astro";
---

<section
  class="bg-[#191919] text-white px-5 py-8 md:flex md:items-center md:gap-8"
>
  <div class="md:flex-1">
    <h1 class="text-[4rem] md:text-[5rem] leading-none mb-10">
      Acerca de Emi<span class="font-bold">Brows</span>
    </h1>
    <p class="text-[20px]">
      Estudio de belleza especializado en servicios de cejas, pestañas y
      depilación facial y corporal, especialista certificada con más de 8 años
      de experiencia en embellecimiento de miradas.
    </p>
  </div>
  <div class="md:flex-1">
    <Logo height={220} width={350} />
    <p class="text-[20px]">
      Siempre actualizada con las últimas tendencias y en constante formación
      para el perfeccionamiento de las técnicas, con el objetivo de cumplir y/o
      superar las expectativas del cliente, cuidando su salud e imagen personal.
    </p>
  </div>
</section>
