---
import Arrow from "./Arrow.astro";
import Icon from "./Icon.astro";
---

<nav class="flex flex-col justify-between items-center lg:flex-row">
  <Icon height={200} width={250} />
  <div>
    <div class="flex items-center gap-4">
      <h1 class="text-[3.5rem] lg:text-[7rem]">Tu belleza</h1>
      <Arrow />
    </div>
    <h1 class="text-[3.5rem] lg:text-[7rem] -mt-[2rem]">
      en mis <span>manos</span>
    </h1>
  </div>
  <a href="#services" class="btn mt-5">Mis servicios</a>
</nav>

<section class="flex flex-col items-center gap-5 pt-10 mb-5">
  <figure class="hero-img">
    <img src="/src/images/hero-1.jpg" />
  </figure>
  <figure class="hero-img">
    <img src="src/images/hero-2.jpg" />
  </figure>
  <figure class="hero-img">
    <img src="src/images/hero-4.jpg" />
  </figure>
  <figure class="hero-img">
    <img src="src/images/hero-3.jpg" />
  </figure>
</section>

<style>
  span {
    font-family: TTRamillasBoldItalic, serif;
  }
  .hero-img {
    width: clamp(300px, 30rem, 60vw);
    height: 400px;
    overflow: hidden;
    background-color: var(--purple);
    opacity: 1;
    display: flex;
    place-content: center;
  }
  .hero-img img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.7;
    object-fit: cover;
  }
</style>
