<section id="services" class="relative">
  <div class="layout-flowers"></div>
  <div class="content">
    <h1 class="text-[3rem]">Mis <span>servicios</span></h1>
    <p class="pb-14 text-[20px]">Especialista en Brows, Lashes y Waxing</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <a href="#microblading" class="btn btn-purple">Microblading →</a>
      <a href="#laminacion-cejas" class="btn btn-purple"
        >Laminación de cejas →</a
      >
      <a href="#diseno-cejas" class="btn btn-purple">Diseño de cejas →</a>
      <a href="#pestanas" class="btn btn-purple"
        >Lifting y extensión de pestañas →</a
      >
      <a href="#depilacion-facial-corporal" class="btn btn-purple"
        >Depilación facial y corporal →</a
      >
      <a href="#packs" class="btn btn-purple">Packs promocionales →</a>
    </div>
  </div>
</section>

<style>
  span {
    font-family: TTRamillasItalic, serif;
  }
  h1 {
    color: var(--dark-purple);
  }
  a {
    padding: 0.8rem 5px;
    opacity: 1;
    z-index: 10;
  }
</style>
